<fieldset #zadani id="zadani" ngModelGroup="zadani">

	<h3 class="head-title">{{ 'ZADANI.CLAIM' | translate }}</h3>
	<h4 class="text-center">{{ 'ZADANI.UCEL.TITLE' | translate }}</h4>
	
	<div class="form-group text-center">
		<div class="btn-group btn-group-toggle" data-toggle="buttons">
		  <label class="btn btn-outline-primary" (click)="vyberNova();" [class.active]="data.Ucel === '3'">
		    <input name="Ucel" [(ngModel)]="data.Ucel" #Ucel="ngModel" value="3" type="radio" required />
		    <i class="icon shape-hyp-porizeni fa-4x"></i><br />
		    {{ 'ZADANI.UCEL.NOVA' | translate }}
		  </label>
		  <label class="btn btn-outline-primary" (click)="vyberRefi();" [class.active]="data.Ucel === '5'">
		    <input name="Ucel" [(ngModel)]="data.Ucel" value="5" type="radio" required />
		    <i class="icon shape-hyp-refinance fa-4x"></i><br />
		    {{ 'ZADANI.UCEL.REFI' | translate }}
		  </label>		  
		  <label class="btn btn-outline-primary" (click)="vyberAmer();" [class.active]="data.Ucel === '9'">
		    <input name="Ucel" [(ngModel)]="data.Ucel" value="9" type="radio" required />
		    <i class="icon shape-hyp-americka fa-4x"></i><br />
		    {{ 'ZADANI.UCEL.AMER' | translate }}
		  </label>
		</div>
		<br /><small [hidden]="Ucel.valid || (Ucel.pristine && !submitted)" class="text-danger text-center">
			{{ 'FORM.VALIDATION.RADIOREQUIRED' | translate }}
		</small>		
	</div>
	

	<div id="start"></div>
	
    <div class="form-group row">
		<label class="{{ layout.grid.z_label }} col-form-label"
			placement="top"
			triggers="mouseenter:mouseleave"	
			popover="{{ 'ZAMER.UVER.HINT' | translate }}">
			{{ 'ZAMER.UVER.LABEL' | translate }}
		</label>		
		<div class="{{ layout.grid.z_input }}">
	        <div class="input-group">
		        <input id="ZamerUver" name="ZamerUver" class="form-control text-right" type="text" autocomplete="off"
							[(ngModel)]="data.Zamer.Uver" #ZamerUver="ngModel" telefonFormat TextNumberMax="50000000" required />
				<div class="input-group-append">
					<span class="input-group-text">{{ 'FORM.KC' | translate }}</span>
				</div>
	        </div>	
		</div>
		<small [hidden]="ZamerUver.valid || (ZamerUver.pristine && !submitted)" class="text-danger {{ layout.grid.z_offset }} {{ layout.grid.z_input }}">
			{{ 'FORM.VALIDATION.REQUIRED' | translate }}
			<span *ngIf="ZamerUver.errors?.TextNumberMax" translate [translateParams]="{value: '50 000 000'}">FORM.VALIDATION.MAX</span>
		</small>
    </div>    

    <div class="form-group row">
    	<ng-template #popDobaSpl><div [innerHtml]="'ZAMER.DOBASPLACENI.HINT' | translate"></div></ng-template>
		<label class="{{ layout.grid.z_label }} col-form-label"
			placement="top"
			triggers="mouseenter:mouseleave"	
			[popover]="popDobaSpl">
			{{ 'ZAMER.DOBASPLACENI.LABEL' | translate }}
		</label>		
		<div class="pt-2 {{ layout.grid.z_input }}">
	      	<span class="float-left col-3">{{ ZamerDobaSplaceni.value }} {{ 'FORM.LET' | translate }}</span>
	        <input id="ZamerDobaSplaceni" name="ZamerDobaSplaceni" class="col-9 mt-1 form-cntrol" type="range" min="5" max="30" step="1"
	          [(ngModel)]="data.Zamer.DobaSplaceni" #ZamerDobaSplaceni="ngModel" required />
		</div>
		<small [hidden]="ZamerDobaSplaceni.valid || (ZamerDobaSplaceni.pristine && !submitted)" class="text-danger offset-sm-5 {{ layout.grid.z_offset }} {{ layout.grid.z_input }}">
			{{ 'FORM.VALIDATION.REQUIRED' | translate }}
		</small>
    </div>

	<div class="form-group row">
		<ng-template #popFixace><div [innerHtml]="'ZAMER.FIXACE.HINT' | translate"></div></ng-template>
		<label class="pt-2 {{ layout.grid.z_label }} col-form-label"
			placement="top"
			triggers="mouseenter:mouseleave"	
			[popover]="popFixace">
			{{ 'ZAMER.FIXACE.LABEL' | translate }}
		</label>		
		<div class="{{ layout.grid.z_input }}">
		  	<span class="float-left col-3">{{ ZamerFixace.value }} {{ 'FORM.FIX' | translate:{ fix: layout.fixace[ZamerFixace.value] } }}</span>
		    <input id="ZamerFixace" name="ZamerFixace" class="col-9 mt-1 form-cntrol" type="range" min="1" max="5" step="2"
		      [(ngModel)]="data.Zamer.Fixace" #ZamerFixace="ngModel" required />
		</div>
		<small [hidden]="ZamerFixace.valid || (ZamerFixace.pristine && !submitted)" class="text-danger {{ layout.grid.z_offset }} {{ layout.grid.z_input }}">
			{{ 'FORM.VALIDATION.REQUIRED' | translate }}
		</small>
	</div>	

</fieldset>
